header{
    display: flex;
    background-color: darkgray;
    align-content: center;
    justify-content: center;
    height: 60px;
}
nav{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 7;
}
nav a{
    color: white;
}

nav a:not(:first-child){
    margin-left: 40px;
}

.header-logo{
    display: flex;
    align-items:center; 
    justify-content: center;
    flex: 3;
}