<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="flexed">
                    <div class="box">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint hic dicta assumenda expedita repudiandae eaque aperiam, nemo soluta impedit quam.</div>
                    <div class="box">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt nobis libero harum totam voluptas! Omnis voluptatibus, labore ad nam recusandae maxime eius deleniti, non minus molestias excepturi fugit placeat vero?</div>
                    <div class="box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ducimus sequi est quam, libero officia.</div>
            </div>
        </div>
    </div>
</div>
